services:
  app:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: stripe-test-app
    ports: 
      - "8000:8000"
    env_file:
      - ../.env
    volumes:
      - ../src:/django/src